<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ template }} - djenconfig</title>
  </head>
  <body>
    <h1><a href="{% url 'index' %}">djenconfig v{{ version }}</a></h1>
    <form class="" action="{% url 'generate' template %}" method="get">
      <p>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" placeholder="admin"><br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password">
      </p>
      <p>
        <label for="identity">Identity:</label>
        <input type="text" name="identity" id="identity" placeholder="MikroTik">
      </p>
      <p>
        <label for="uplink">Uplink:</label>
        <select name="uplink" id="uplink">
          <option value="">none</option>
          {% comment "Emulating numeric for loop" %}{% endcomment %}
          {% with range=''|center:interfaces.ether %}{% for _ in range %}
            <option>ether{{ forloop.counter }}</option>
          {% endfor %}{% endwith %}
          {% with range=''|center:interfaces.sfpp %}{% for _ in range %}
            <option>sfpp{{ forloop.counter }}</option>
          {% endfor %}{% endwith %}
          {% if interfaces.qsfp %}
            {% with range=''|center:interfaces.qsfp.0 %}{% for _ in range %}
              {% with outer_counter=forloop.counter range=''|center:interfaces.qsfp.1 %}{% for _ in range %}
                <option>qsfp{{ outer_counter }}-{{ forloop.counter }}</option>
              {% endfor %}{% endwith %}
            {% endfor %}{% endwith %}
          {% endif %}
        </select>
      </p>
      <p><input type="submit" value="Generate"></p>
    </form>
  </body>
</html>
