<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ template }} - djenconfig</title>
  </head>
  <body>
    <h1><a href="{% url 'index' %}">djenconfig v0.01</a></h1>
    <form class="" action="{% url 'generate' template %}" method="get">
      <p>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" placeholder="admin"><br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password">
      </p>
      <p><input type="submit" value="Generate"></p>
    </form>
  </body>
</html>
